@media print {
  .remittance-container {
    background: red;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .remittance-banner img {
    height: 100px;
  }
  .remittance-banner {
    padding: 14px;
    border-bottom: 1px solid #ccc;
  }
  .remittance-body {
    margin-top: -25px !important;
    padding: 15px;
  }
  .remittance-header {
    margin-top: 10px;
    margin-bottom: 20px !important;
  }
  @page {
    size: legal;
    margin-top: 0;
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-right: 0;
  }
}
