.customizable-input-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.customizable-input-container input {
  padding-right: 3.8rem; /* Adjust para may space sa icons */
}

.customizable-input-icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  display: flex;
  align-items: center;
}
