.input-inline {
  display: flex;
  align-items: center;
}

.input-inline .form-control {
  flex-grow: 1;
}

.icon-inline {
  margin-left: 8px;
  color: #007bff;
  cursor: pointer;
}

.icon-inline.cancel {
  color: #dc3545;
  margin-left: 5px;
}
