:root {
  --primary-color: #1266f1;
  --seconday-color: #5c8dfb;
  --accent-color: #f1c40f; /* Main accent */
  --accent-alt: #2ecc71; /* Suggested: Emerald Green */
  --background-color: #f9fafb;
  --text-black: #212529;
  --text-white: #f9fafb;
}

.subscriber-pioneers-container {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  gap: 20px;
  justify-content: center;
}

.subscriber-pioneers-card {
  position: relative;
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--background-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 1s ease;
}

.subscriber-pioneers-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    var(--primary-color) -15%,
    var(--background-color) 65%
  );
  opacity: 0;
  transition: opacity 1s ease;
  z-index: -1;
}

.subscriber-pioneers-card:hover::before {
  opacity: 1;
}

.subscriber-pioneers-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 8px rgba(0, 121, 107, 0.2);
}

.subscriber-pioneers-card img {
  width: 130px;
  border-radius: 50%;
  margin-top: 17px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.subscriber-pioneers-card span {
  font-size: 1.2rem;
  font-weight: 600;
}

.subscriber-pioneers-card p {
  font-size: 1rem;
  font-weight: 500;
}

.pioneerAvatarLink {
  color: black;
  transition: all 0.5s ease;
}

.pioneerAvatarLink:hover {
  color: #1266f1;
}

/* responsive design */
@media (max-width: 1280px) {
  .subscriber-pioneers-container {
    grid-template-columns: repeat(2, 320px);
  }
  .subscriber-pioneers-card span {
    font-size: 1.3rem;
  }
  .subscriber-pioneers-card p {
    font-size: 1rem;
  }
  .subscriber-pioneers-card img {
    width: 120px;
    margin-top: 10px;
  }
}
