@font-face {
  font-family: "DS-Digital";
  src: url("../../../assets/fonts/DS-DIGIB.TTF") format("truetype");
  font-style: normal;
}

.digital-text {
  font-family: "DS-Digital", sans-serif;
  font-size: 5rem !important;
}
.text-center {
  text-align: center;
}

.description {
  margin-top: 4rem;
  font-weight: 400;
}
