/* card sized ~1/4 A4 */
.checkup-data-requestform-card {
  width: 500px;
  height: 810px;
  background: #fff;
  /* border: 1px solid #999; */
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.requestform-header {
  border-bottom: 1px solid #ccc;
  padding: 12px;
  background: #f9f9f9;
}

.requestform-body {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}
.laboratoryRequestForm-banner {
  width: 100%;
  max-height: 50px;
  object-fit: fill;
}
