@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Roboto:wght@100;400;700&family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.IDGenerator-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

/* modal design */
.IDGenerator-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.IDGenerator-modal.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.IDGenerator-content {
  min-width: 600px;
  min-height: 450px;
  width: auto;
  height: auto;

  background-color: white;
}

.IDGenerator-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
}

.IDGenerator-modal-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.IDGenerator-modal-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.IDGenerator-modal-header-title {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
}

.IDGenerator-modal-header-close {
  cursor: pointer;
}

.IDGenerator-template-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: auto;
  gap: 10px;
}

.IDGenerator-template-preview-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

/* Default portrait (vertical layout) */
.IDGenerator-template-preview-wrapper.portrait {
  flex-direction: row;
}

/* Landscape (horizontal layout) */
.IDGenerator-template-preview-wrapper.landscape {
  flex-direction: column;
}

.IDGenerator-template-preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.IDGenerator-template-preview.portrait {
  width: 315px;
  height: 500px;
}

.IDGenerator-template-preview.landscape {
  width: 500px;
  height: 315px;
}

.IDGenerator-template-preview .IDGenerator-template-addImg {
  all: unset;
  width: 100%;
  height: 100%;
  border: 2px solid #d9d9d9;
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
}

.IDGenerator-template-preview .IDGenerator-template-addImg.hide {
  display: none;
}

.IDGenerator-template-changeImg {
  position: absolute;
  bottom: -2.5%;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: #007bff;
  color: white;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 100%;
  padding: 5px 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.IDGenerator-template-changeImg.hide {
  display: none;
}

.IDGenerator-template-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.IDGenerator-template-previewData {
  position: absolute;
  cursor: move;
  user-select: none;
}

.IDGenerator-template-remove {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(130%, -50%);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.IDGenerator-template-previewData:hover .IDGenerator-template-remove {
  opacity: 1;
}

.IDGenerator-template-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.IDGenerator-template-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.IDGenerator-template-button label {
  all: unset;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: capitalize;
  width: 110px;
}

.IDGenerator-template-buttonBtn {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* select design */
.IDGenerator-setting-select-label {
  color: #c3c3c3;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.8rem;
}

.IDGenerator-setting-select-container {
  position: relative;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: border 0.2s, box-shadow 0.2s;
}

.IDGenerator-setting-select-container.inputDesign {
  background-color: #f5f5f5;
}

/* Focus / active state */
.IDGenerator-setting-select-container.active {
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.3);
}

/* Placeholder o selected value */
.IDGenerator-setting-select-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 28px;
  font-size: 14px;
  color: #333;
}

.IDGenerator-setting-select-placeholder span {
  color: black;
  margin-left: 7px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.IDGenerator-setting-select-placeholder input {
  all: unset;
  width: 100%;
  height: 100%;
  margin-left: 7px;
  font-weight: 400;
}

.IDGenerator-setting-select-placeholder input:focus {
  outline: none; /* alisin ang default outline */
  box-shadow: none !important;
  border-bottom: none !important;
}

/* Icon arrow */
.IDGenerator-setting-select-icon {
  border-left: 1px solid #ffffff;
  font-size: 0.9rem;
  color: #888;
  height: 28px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background-color 0.3s ease;
}

.IDGenerator-setting-select-container:hover .IDGenerator-setting-select-icon {
  background-color: #e6e6e6;
}

/* Dropdown options */
.IDGenerator-setting-select-options {
  position: absolute;
  top: 70%;
  left: 0;
  transform: translate(-105%, -50%);
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, transform 0.2s, visibility 0.2s;
  z-index: 10;
}

.IDGenerator-setting-select-options.inputDesign {
  background-color: #1e1e1e;
  color: #f7f7f7;
  max-width: 120px;
  text-align: center;
  border: 1px solid #1e1e1e;
}

.IDGenerator-setting-select-options.inputDesign ul {
  padding: 10px;
}

.IDGenerator-setting-select-options.inputDesign li {
  border-radius: 5px;
}

.IDGenerator-setting-select-options.inputDesign li:hover {
  background-color: #007bff;
}

/* Active dropdown */
.IDGenerator-setting-select-options.active {
  opacity: 1;
  visibility: visible;
}

/* Individual option */
.IDGenerator-setting-select-options ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  max-height: 510px;
  overflow: auto;
}

.IDGenerator-setting-select-options li {
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background 0.15s;
}

.IDGenerator-setting-select-options li:hover {
  background-color: #f2f2f2;
}

/* setting design */

/* ID component design */
.IDGenerator-ID-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 12px;
  background: white;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.IDGenerator-ID-imgPreview {
  width: 315px;
  height: 500px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.IDGenerator-ID-imgPreview img {
  width: 100%;
  height: 100%;
}
