.subscriber-loading-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.subscriber-loading {
  width: 120px; /* or your preferred size */
  height: auto;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}
