:root {
  --primary-color: #1266f1;
  --seconday-color: #5c8dfb;
  --accent-color: #f1c40f; /* Main accent */
  --accent-alt: #2ecc71; /* Suggested: Emerald Green */
  --background-color: #f9fafb;
  --text-black: #212529;
  --text-white: #f9fafb;
}

.subscriber-pioneers-container {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 20px;
  justify-content: center;
}

.subscriber-pioneers-card {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px 10px;
  background-color: var(--background-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 1s ease;
}

.subscriber-pioneers-card-header,
.subscriber-pioneers-card-body,
.subscriber-pioneers-footer {
  width: 100%;
  height: 100%;
}

.subscriber-pioneers-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscriber-pioneers-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.subscriber-pioneers-card-body span {
  font-size: 1.2rem;
  font-weight: 600;
}
.subscriber-pioneers-card-body p {
  font-weight: 400;
}

.subscriber-pioneers-footer {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
}

.subscriber-pioneers-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    var(--primary-color) -15%,
    var(--background-color) 65%
  );
  opacity: 0;
  transition: opacity 1s ease;
  z-index: -1;
}

.subscriber-pioneers-card:hover::before {
  opacity: 1;
}

.subscriber-pioneers-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 8px rgba(0, 121, 107, 0.2);
}

.subscriber-pioneers-card img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.pioneerAvatarLink {
  color: black;
  transition: all 0.5s ease;
}

.pioneerAvatarLink:hover {
  color: #1266f1;
}

/* responsive design */
/* @media (max-width: 1400px) {
  .subscriber-pioneers-container {
    grid-template-columns: repeat(4, 250px);
  }
} */

@media (max-width: 1200px) {
  .subscriber-pioneers-container {
    grid-template-columns: repeat(3, 250px);
  }
}

@media (max-width: 1200px) {
  .subscriber-pioneers-card-body span {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .subscriber-pioneers-card-body p {
    font-weight: 500;
    font-size: 0.9rem;
  }
}
