.menus-onboarding-table {
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
  background-color: #fff;
  height: fit-content;
}

.menus-onboarding-table th,
.menus-onboarding-table td {
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}

.menus-onboarding-table th {
  background-color: hsl(0, 0%, 35%);
  color: white;
}

.menus-onboarding-table td {
  font-weight: 450;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.menus-onboarding-table tr:hover td {
  background-color: rgba(255, 53, 71, 1);
  color: white;
  border-right-color: rgba(255, 53, 71, 1);
}

.menus-onboarding-table tr:hover td:nth-child(n + 2) {
  color: rgba(255, 53, 71, 1);
  border-right-color: rgba(255, 53, 71, 1);
}

.menus-onboarding-table tr:hover td:nth-child(3) {
  border-right-color: black;
  position: relative;
}

.menus-onboarding-table tr:hover .menus-up {
  color: green;
  display: none;
}

.menus-onboarding-table .menus-onboarding-button-delete {
  display: none;
  margin: auto;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
}

.menus-onboarding-table tr:hover .menus-onboarding-button-delete {
  display: block;
}

.menus-onboarding-table tr .menus-empty {
  background-color: #fff;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.1rem;
  font-style: italic;
}

.menus-onboarding-table tr:hover .menus-empty {
  background-color: white;
  color: rgba(0, 0, 0, 0.4);
  border-color: black;
}
