.id-generator-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.id-generator-container.portrait {
  flex-direction: row;
}

.id-generator-container.landscape {
  flex-direction: column;
}

.id-generator-preview-wrapper {
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
  width: 3.1875in;
  height: 5.0625in;
}

.id-generator-preview-wrapper.portrait {
  width: 3.1875in;
  height: 5.0625in;
}

.id-generator-preview-wrapper.landscape {
  width: 5.0625in;
  height: 3.1875in;
}

.id-generator-preview {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.id-generator-noFrontAndBackImage {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #777;
}

/* skeleton.css */
.id-generator-skeleton-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.id-generator-skeleton {
  background: #e0e0e0;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.id-generator-skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 100%
  );
  animation: id-generator-loading 1.2s infinite;
}

@keyframes id-generator-loading {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}

.id-generator-id-front,
.id-generator-id-back {
  width: 3.1875in;
  height: 5.0625in;
}

.id-generator-settings-panel {
  width: 5.1875in;
  height: 3.0625in;
}
