.homeSlideContainer {
  position: relative;
  width: 1300px;
}

.homeSlideStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  padding: 0 10px;
  gap: 30px;
}

.hometextContainerStyle {
  flex: 1;
  padding: "20px";
  text-align: "left";
}

.hometextContainerStyle h1 {
  text-align: left;
  font-weight: 500;
}

.hometextContainerStyle h5 {
  text-align: left;
  font-weight: 400;
  font-style: italic;
}

.hometextContainerStyle p {
  text-align: left;
  margin-top: 40px;
  font-size: 1.1rem;
  font-weight: 300;
}

.homeimageStyle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeimageContainerStyle {
  flex: 1;
}

.homeimageContainerStyle img {
  border-radius: 10px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* flip container */
.homePage-flip-container {
  width: 100%;
  height: 450px;
  perspective: 1000px;
}

.homePage-flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.homePage-flip-card-front,
.homePage-flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage-flip-card-front {
  background-color: transparent;
}

.homePage-flip-card-back {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg);
  text-align: left;
  padding: 20px 40px;
}

.homePage-flip-btn {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 20%);
  background-color: transparent;
  border: none;
}

.homePage-flip-container.homePage-flipped .homePage-flip-card {
  transform: rotateY(180deg);
}

.homePage-flip-card-back h2 {
  margin-left: 50px;
}

.homePage-flip-card-back form {
  width: 100%;
}

.homePage-register-img {
  display: block !important;
  width: 350px;
}

.homeSlideContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 1280px) {
  .homePage-register-img {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .homeSlideContent {
    flex-direction: column-reverse; /* Ito ang key: reverse para mauna yung image */
  }
  .homeimageStyle {
    width: 100px;
  }

  .hometextContainerStyle h1,
  .hometextContainerStyle h5,
  .hometextContainerStyle p {
    text-align: left !important;
  }
  .hometextContainerStyle h1 {
    font-size: 1.5rem;
  }
  .hometextContainerStyle h5 {
    font-size: 1.2rem;
  }
  .hometextContainerStyle p {
    display: none;
  }
}

/* General responsive adjustments for registration form */
@media (max-width: 768px) {
  .homePage-flip-card-back {
    min-width: 480px;
    padding: 10px 20px;
    height: 100%;
  }

  .homePage-flip-card-back form {
    width: 100%;
  }

  .homePage-flip-card-back h2 {
    margin-left: 0;
    text-align: center;
  }

  .homePage-flip-card {
    height: auto;
  }
}
