.homPage-testimonials-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.homPage-testimonials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 10px;
}

.homePage-testimonials-title {
  text-align: center;
  font-weight: 500;
}

.homePage-testimonials-text {
  text-align: left;
  padding: 10px 20px;
}

.homePage-testimonials-text h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #00796b;
}

.homePage-testimonials-text p {
  font-size: 1.15rem;
  font-weight: 400;
  margin-top: 20px;
}

.homePage-testimonials-sliderContainer-responsive {
  display: flex;
  width: 200%;
}

.homePage-testiminials-sliderCard {
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px 15px;
}

.homePage-testiminials-sliderCard:hover {
  box-shadow: 0 0 8px rgba(0, 121, 107, 0.3);
}

.homePage-testiminials-sliderCard img {
  width: 70px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.homePage-testiminials-sliderCard .homePage-testimonials-review {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.homePage-testiminials-sliderCard .homePage-testimonials-review-text {
  font-weight: 500;
  font-size: 1rem;
}

.homePage-testiminials-sliderCard .homePage-testimonials-review-name {
  text-align: right;
}

/* swiper vertical reverse */
.swiper-vertical-reverse {
  transform: rotate(180deg);
}

.swiper-vertical-reverse .swiper-slide {
  transform: rotate(180deg);
}

/* star review design */
.homePage-testimonials-star-rating {
  display: flex;
  cursor: pointer;
  font-size: 20px;
}

.homePage-testimonials-star {
  color: #ccc;
  position: relative;
  width: 20px;
  height: 20px;
}

.homePage-testimonials-star::before {
  content: "★";
  position: absolute;
  left: 0;
  top: 0;
  color: #ccc;
  z-index: 0;
}

.homePage-testimonials-star.full::before {
  color: #f5b301;
}

.homePage-testimonials-star.half::before {
  background: linear-gradient(90deg, #f5b301 50%, #ccc 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f5b301;
}

/* responsive design */

@media (max-width: 1600px) {
  .homPage-testimonials-container {
    display: grid;
  }
  .homePage-testimonials-text h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
  }

  .homePage-testimonials-text p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
  }
  .homePage-testimonials-sliderContainer-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .homePage-testimonials-title {
    font-size: 1.25rem;
    margin-bottom: 5px !important;
  }

  .homePage-testimonials-text h1 {
    font-size: 1.25rem;
  }

  .homePage-testimonials-text p {
    font-size: 0.75rem;
    margin-top: 10px;
  }
  .homPage-testimonials-container {
    width: 100%;
  }
  .homePage-testimonials-sliderContainer-responsive {
    flex-direction: column;
  }
  .homePage-testiminials-sliderContainer.hide {
    display: none;
  }

  .homePage-testiminials-sliderCard img {
    width: 50px;
  }

  .homePage-testiminials-sliderCard .homePage-testimonials-review {
    gap: 2px;
  }

  .homePage-testiminials-sliderCard .homePage-testimonials-review-text,
  .homePage-testiminials-sliderCard .homePage-testimonials-review-name {
    font-size: 0.875rem;
  }
  .homePage-testimonials-star-rating {
    font-size: 15px;
  }
}

.homePage-testiminials-sliderContainer .swiper,
.homePage-testiminials-sliderContainer .swiper-wrapper,
.homePage-testiminials-sliderContainer .swiper-slide {
  pointer-events: none;
}
