.checkup-data-patient.active {
  position: relative;
  z-index: 200;
}

.checkup-data-patient-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkup-data-patient-profile {
  width: 90px;
  aspect-ratio: 1/1;
  margin-bottom: 10px;
}
