.subscriber-register-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscriber-slide-container {
  position: relative;
  width: 100%;
}

.subscriber-slide-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding: 0 10px;
}

.subscriber-text-container-style {
  flex: 1;
  padding: "20px";
  text-align: "left";
}

.subscriber-text-container-style .subscriber-editable-title {
  text-align: left;
  font-weight: 500;
  font-size: 2rem;
}

.subscriber-text-container-style .subscriber-editable-subtitle {
  text-align: left;
  font-weight: 400;
  font-style: italic;
}

.subscriber-text-container-style .subscriber-editable-description {
  text-align: left;
  margin-top: 40px;
  font-size: 1.1rem;
  font-weight: 400;
}

.subscriber-image-container-style {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.subscriber-image-container-style img {
  border-radius: 10px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* flip container */
.subscriber-flip-container {
  width: 100%;
  height: 450px;
  perspective: 1000px;
}

.subscriber-flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscriber-flip-card-front,
.subscriber-flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscriber-flip-card-front {
  background-color: transparent;
}

.subscriber-flip-card-back {
  position: relative;
  width: 80%;
  height: auto;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg);
  text-align: left;
  padding: 20px 40px;
}

.subscriber-back-button {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%, 100%);
  background-color: transparent;
  border: none;
}

.subscriber-flip-container.subscriber-flipped .subscriber-flip-card {
  transform: rotateY(180deg);
}

.subscriber-flip-card-back h2 {
  margin-left: 50px;
}

.subscriber-flip-card-back form {
  width: 100%;
}

.subscriber-register-img {
  display: block !important;
  width: 350px;
}

.subscriber-slide-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 1660px) {
  .subscriber-flip-card-back {
    width: 100%;
    height: auto;
  }
  .subscriber-text-container-style h1 {
    font-size: 2.2rem;
  }
  .subscriber-text-container-style h5 {
    font-size: 1.2rem;
  }
  .subscriber-text-container-style p {
    font-size: 1.1rem;
  }
}

@media (max-width: 1280px) {
  .subscriber-flip-container {
    width: 95%;
  }

  .subscriber-slide-content {
    gap: 5px;
  }
  .subscriber-text-container-style h1 {
    font-size: 2.1rem;
  }
  .subscriber-text-container-style h5 {
    font-size: 1.1rem;
  }
  .subscriber-text-container-style p {
    font-size: 1rem;
  }
  .subscriber-image-container-style img {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 1024px) {
  .subscriber-flip-container {
    width: 95%;
    height: 100%;
  }
  .subscriber-slide-style {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .subscriber-register-img {
    display: none !important;
  }
  .subscriber-text-container-style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    opacity: 0;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  .subscriber-slide-style:hover .subscriber-text-container-style {
    opacity: 1;
  }
  .subscriber-image-container-style img {
    width: 100%;
    height: 400px;
  }
  .subscriber-text-container-style h1 {
    font-size: 2rem;
  }

  .subscriber-text-container-style h5 {
    font-size: 1.2rem;
  }

  .subscriber-text-container-style p {
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  .subscriber-flip-container {
    width: 100%;
  }

  .subscriber-slide-content {
    height: 100%;
  }
  .subscriber-image-container-style img {
    width: 100%;
    height: 500px;
    border-radius: 0;
  }
  .subscriber-image-container-style,
  .subscriber-flip-card-back {
    border-radius: 0;
  }
  .subscriber-back-title {
    font-size: 1.5rem;
  }
}
