.ecg-wrapper {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.ecg-line {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.ecg-dot-layer {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
