.homePage-gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.homePage-gallery-title {
  font-weight: 500;
}

.homePage-gallery-subtitle {
  font-size: 1rem;
  padding: 0 30px;
  text-align: center;
}

.homePage-gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.homePage-gallery-container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  height: 300px;
  width: 100%;
  scroll-behavior: auto; /* para instant scrollLeft change */
}

.homePage-gallery-container img {
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

@media (max-width: 480px) {
  .homePage-gallery-title {
    font-size: 1.25rem;
  }

  .homePage-gallery-subtitle {
    font-size: 0.75rem;
  }

  .homePage-gallery-wrapper {
    gap: 10px;
  }

  .homePage-gallery-container {
    height: 100px;
    gap: 10px;
  }
}
