.template-x-ray-section {
  height: 100%;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.zoom-img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.zoom-img-container img {
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}
