.customizable-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.customizable-input-container input {
  padding-right: 3.8rem; /* Adjust para may space sa icons */
}

.customizable-input-icons {
  position: absolute;
  right: 0.5rem;
  display: flex;
  align-items: center;
}

@keyframes zoomInEditableField {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.editableField-zoom-in {
  position: absolute;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  padding: 5px;
  background: white;
  border-radius: 5px;
  animation: zoomInEditableField 0.3s ease-out;
  display: inline-block;
  transform-origin: left;
  z-index: 2;
}

.editableField-zoom-in input {
  border: none;
  border-bottom: 1px solid black !important;
  outline: none;
  margin: 0px;
  padding: 0px;
  margin-top: -5px;
}

.editableFied-text {
  padding: 3px 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 3px;
}

.editableFied-text:hover {
  background-color: #1976d2;
  color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
