.checkup-data-note {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}

.checkup-data-note.active {
  position: relative;
  z-index: 101;
}

.checkup-data-note-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

.checkup-data-note-toggle span {
  font-size: 1rem;
  font-weight: 500;
}

.checkup-data-note-options {
  height: 0;
  width: 100%;
  transition: all 0.3s ease;
  overflow: hidden;
}

.checkup-data-note-options.active {
  height: 160px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.checkup-data-note button {
  border: none;
  background-color: transparent;
  border-radius: 3px;
  padding: 3px 8px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.checkup-data-note button:hover {
  color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.checkup-data-note button.male-btn:hover {
  background-color: #007bff;
}

.checkup-data-note button.female-btn:hover {
  background-color: #e83e8c;
}

.checkup-data-note button.active {
  color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.checkup-data-note button.male-btn.active {
  background-color: #007bff;
}
.checkup-data-note button.female-btn.active {
  background-color: #e83e8c;
}

.checkup-data-prescription-container,
.checkup-data-form-container,
.checkup-data-certificate,
.checkup-data-clearance {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  background-color: white;
}

.checkup-data-note-close {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.2s ease;
}

.checkup-data-note-close:hover {
  color: #e74c3c;
}

.checkup-data-note-save {
  position: absolute;
  bottom: 0;
  right: -70px;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  padding: 3px 10px;
}

/* prescription design */
.checkup-data-prescription-card {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.checkup-data-prescription-card-header {
  padding: 10px 15px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 3px solid #007bff;
}

.checkup-data-prescription-card-logo {
  width: 75px;
  aspect-ratio: 1/1;
}

.checkup-data-prescription-card-info {
  display: flex;
  flex-direction: column;
}

.checkup-data-prescrption-card-fullname {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.checkup-data-prescrption-card-fullname span:first-child {
  font-size: 1.2rem;
  color: #007bff;
  font-weight: bold;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.checkup-data-prescrption-card-fullname small {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.checkup-data-prescription-card-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 8px;
  line-height: 1;
  letter-spacing: 0.5px;
}

.checkup-data-prescription-card-contact span {
  font-size: 0.7rem;
  font-weight: 400;
}

.checkup-data-prescription-card-contact span:first-child {
  font-size: 0.75rem;
  font-weight: 400;
}

.checkup-data-prescription-card-patient-info {
  padding: 0 10px;
}

.checkup-data-prescription-card-patient-info-row {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  width: 100%;
}

.checkup-data-prescription-card-input {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 3px;
}

.checkup-data-prescription-card-input label {
  all: unset;
  font-size: 0.7rem;
  white-space: nowrap;
  color: black;
  font-weight: 400;
  text-transform: capitalize;
}

.checkup-data-prescription-card-input input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 0.8rem;
}

.checkup-data-prescription-card-input input:focus {
  outline: none;
  box-shadow: none !important;
  border-bottom: 1px solid #007bff;
}

.checkup-data-prescription-card-body {
  height: 66%;
  position: relative;
  overflow: hidden;
}

.checkup-data-prescription-card-body canvas {
  width: 100%; /* CSS scaling */
  height: 100%;
  position: relative;
  z-index: 1;
}

.checkup-data-prescription-card-body-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(60%, 40%);
  font-size: 3rem;
  color: #004085;
  z-index: 2;
}

.checkup-data-prescription-card-body-icon2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(5%, 5%);
  font-size: 16rem;
  color: #004085;
  opacity: 0.1;
  z-index: 0;
}

.checkup-data-prescription-card-footer {
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  margin-top: auto;
}

.checkup-data-prescription-card-footer span {
  font-size: 0.7rem;
  font-weight: 400;
}
