.customizable-select-design .caret {
  color: white !important;
}

.customizable-select-design label {
  text-align: left;
  transform: translateY(10%);
}

.customizable-select-design.selectHeader label {
  color: white !important;
}

.customizable-selectSearch-design label {
  color: grey !important;
  transform: translateY(60%);
}

.customizable-selectInput-design {
  color: white !important;
}
