.custom-select-disabled.active {
  pointer-events: none; /* Prevent interactions */
  opacity: 0.2 !important; /* Ensure visibility */
  box-shadow: none !important;
  background: transparent !important;
}

.mdb-custom-select label {
  color: white !important;
  text-align: left !important;
  margin-top: 3px;
}
select.custom-select-disabled {
  background-color: red !important;
}
.custom-select-disabled input[type="checkbox"]:checked + label::before {
  opacity: 1 !important;
}
