.subscriber-partners-section {
  /* background-color: green; */
}

.subscriber-partners-container {
  /* background-color: red; */
}

.subscriber-partners-image {
  background-color: white;
  width: 200px;
  height: 100px;
}
