.res-container {
  min-width: 900px;
}

/* POS Containers */
.pos-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.pos-container-header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pos-container-header.pickedSearch {
  justify-content: space-between;
}

.pos-container-header h4 {
  font-weight: 500;
}

.pos-card-button {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, 60%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pos-card-button button {
  position: relative;
  width: 5rem;
  height: 3rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  isolation: isolate;
  font-size: 1.1rem;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.pos-card-button button:hover {
  color: white;
  background-color: rgba(0, 123, 255, 0.8);
}

.pos-card-button button.active {
  background-color: #fff;
  color: #000;
  transition: all 200ms ease;
}

.pos-card-button button.active:hover {
  background-color: rgba(0, 123, 255, 0.5);
  color: #fff;
}

.pos-card-button button.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background-color: #007bff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pos-card-button .pos-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  opacity: 0.15;
  z-index: -1;
}
/* POS card Design */
.pos-card {
  width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
}

.pos-card-body {
  display: flex;
  gap: 5px;
  transition: transform 1000ms ease;
}

.pos-card-body section {
  display: none;
  flex: none;
  width: 100%;
  height: fit-content;
  padding: 10px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.pos-card-body section.active {
  display: block;
  animation: scaleIn 1s ease;
}

@keyframes scaleIn {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.pos-select-wrapper {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.pos-card-details {
  line-height: 1.1rem;
  transition: color 300ms ease-in;
}

.pos-card-details:hover p {
  color: #007bff;
}

.pos-card-details span {
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(0, 123, 255, 0.8);
}

.pos-card-details p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

/*Menus table Design */
.menus-table {
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
  background-color: #fff;
  height: fit-content;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.menus-table th,
.menus-table td {
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}

.menus-table th {
  background-color: hsl(0, 0%, 35%);
  color: white;
}

.menus-table td {
  font-weight: 450;
  font-size: 0.9rem;
}

.menus-table tr:hover td {
  background-color: rgba(255, 53, 71, 1);
  color: white;
  border-right-color: rgba(255, 53, 71, 1);
}

.menus-table tr:hover td:nth-child(n + 2) {
  color: rgba(255, 53, 71, 1);
  border-right-color: rgba(255, 53, 71, 1);
}

.menus-table tr:hover td:nth-child(3) {
  border-right-color: black;
  position: relative;
}

.menus-table .menus-button-delete {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  border: none;
  background-color: rgba(255, 53, 71, 1);
  color: white;
  opacity: 0;
  visibility: hidden;
}

.menus-table tr td .menus-button-delete:active {
  background-color: hsl(353, 100%, 75%);
}

.menus-table tr:hover td .menus-button-delete {
  opacity: 1;
  visibility: visible;
}

.menus-table tr:hover .menus-button-delete {
  opacity: 1;
  visibility: visible;
}

.menus-table tr .menus-empty {
  background-color: #fff;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.1rem;
  font-style: italic;
}

.menus-table tr:hover .menus-empty {
  background-color: white;
  color: rgba(0, 0, 0, 0.4);
  border-color: black;
}

/* LEGEND DESIGN */
.menus-legend {
  position: relative;
}

.menus-legend div {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 22rem;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.menus-legend:hover div {
  visibility: visible;
  opacity: 1;
}

.menus-legend div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 15px;
  transform: translate(-50%, -98%);
  background-color: rgba(255, 255, 255, 1);
  z-index: -1;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.menus-legend::before {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.menus-legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 35px;
  text-align: left;
  font-style: italic;
}

.menus-legend ul li {
  position: relative;
  padding-block: 5px;
}

.menus-legend ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -3%;
  transform: translate(-100%, -50%);
  width: 15px;
  border-radius: 3px;
  aspect-ratio: 1;
}

.menus-legend ul li.menu-legend-lightblue::before {
  background-color: rgba(47, 171, 216, 0.5);
  border: 1px solid rgba(47, 171, 216, 1);
}

.menus-legend ul li.menu-legend-yellow::before {
  background-color: rgba(255, 187, 51, 0.5);
  border: 1px solid rgba(255, 187, 51, 1);
}

.menus-legend ul li.menu-legend-green::before {
  background-color: rgba(20, 164, 77, 0.5);
  border: 1px solid rgba(20, 164, 77, 1);
}

.menus-legend ul li.menu-legend-red::before {
  background-color: rgba(255, 53, 71, 0.5);
  border: 1px solid rgba(255, 53, 71, 1);
}

.menus-legend ul li.menu-legend-black::before {
  background-color: rgba(51, 45, 45, 0.5);
  border: 1px solid rgba(51, 45, 45, 1);
}

/* Summary Table Designs */
.summary-table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  height: fit-content;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.summary-table th,
.summary-table td {
  border: 2px solid black;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 1.1rem;
}

.summary-table th {
  background-color: hsl(0, 0%, 35%);
  color: white;
  font-weight: 450;
}

.summary-table td {
  max-width: 20rem;
}

.summary-table .td-skip {
  padding: 1rem;
}

.summary-table .th-custom {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* table price design */
.summary-table .table-price {
  text-align: end;
  font-weight: 500;
}

.summary-table .table-textSize {
  font-size: 0.9rem;
}

/* select design */
.summary-table select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: end;
}

.summary-table input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

/* table checkbox design */
.summary-table .type-of-transport {
  background-color: #fff;
  color: black;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.summary-table .type-of-transport.active {
  background-color: #007bff;
  color: white;
}

.cashier-search-cotaniner.pickedSearched {
  justify-content: end;
  width: fit-content;
}

/* search design */
.cashier-search.pickedSearch {
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
}

.cashier-search.pickedSearch input {
  display: none;
}

.cashier-instruction.hide {
  display: none;
}

/* input design */
.patient-form {
  display: flex;
  flex-direction: column;
}

.patient-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
}

.patient-form span {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
}

.patient-form:focus-within span {
  color: #007bff;
}

/* select design */
.patient-form select {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  padding-bottom: 3px;
}

/* patient personal info wrapper */
.patient-personal-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.patient-personal-info.border-none {
  border: none;
}

.patient-personal-info.address-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding-top: 20px;
}

.patient-personal-info.address-grid .full-width {
  grid-column: 1 / -1;
}

.patient-personal-info::before {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(1rem, -50%);
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  padding-inline: 5px;
}

.patient-personal-container {
  display: flex;
  gap: 10px;
}

/* CONFLICT CARD */
.conflict-card {
  width: 100%;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.conflict-card .conflict-card-header {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.conflict-card .conflict-card-header span {
  font-size: 1rem;
  font-weight: 500;
}

.conflict-card .conflict-card-header p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: #007bff;
}

.conflict-card .conflict-card-body {
  display: grid;
  gap: 5px;
  padding: 10px;
}

.conflict-card .conflict-card-body .package-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.conflict-card .conflict-card-body small {
  background-color: #8486db;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  padding: 3px 8px;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

/* CONFLICT MODAL DESIGN */
.conflict-modal-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.conflict-modal-header p {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}

.conflict-modal-header span {
  font-size: 1rem;
  font-weight: 400;
  color: #007bff;
  font-style: italic;
}

.conflict-modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-inline: 15px;
}

.conflict-modal-body .conflict-or {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1rem;
}

.conflict-modal-body .conflict-card-container {
  width: 100%;
  display: grid;
  gap: 5px;
}

.conflict-modal-body .conflict-card-container .conflict-card {
  transition: transform 300ms ease-out;
}

.conflict-modal-body .conflict-card-container label {
  font-weight: 400;
  margin: 0;
}

.conflict-modal-body .conflict-card-container:hover label {
  color: #007bff;
}

.conflict-modal-body .conflict-card-container:hover .conflict-card {
  box-shadow: 0 0 4px 1px rgba(0, 123, 255, 0.5);
  transform: scale(1.02);
}

.conflict-modal-body .conflict-card-container.active .conflict-card {
  box-shadow: 0 0 4px 1px rgba(0, 123, 255, 0.5);
}

.conflict-modal-body .conflict-card-container.active label {
  color: #007bff;
}

.conflict-modal-body .conflict-card-container .conflict-card-wrapper {
  display: grid;
  gap: 5px;
}

.conflict-modal-footer {
  margin-top: 15px;
  padding: 10px;
}

.conflict-modal-footer p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.conflict-modal-footer p span {
  font-weight: 500;
  color: #007bff;
  text-transform: capitalize;
}

/* responsive design */
@media (max-width: 1259px) {
  .patient-personal-container {
    display: grid;
  }
}

@media (max-width: 1350px) {
  .res-container {
    margin-left: 20px;
  }
}
