:root {
  --color-blue: #007bff;
  --color-lightblue: #2fabd8;
  --color-yellow: #ffbb33;
  --color-violet: #8486db;
  --color-view: #b19470;
}

.task-container {
  position: relative;
  width: 100%;
  height: 45rem;
  background-color: white;
  margin-left: 30px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
}

.task-container .task-container-body {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-container .task-template-buttons {
  position: absolute;
  top: 9%;
  left: 0;
  transform: translate(-100%, 0);
  display: grid;
  gap: 10px;
}

.task-container .task-template-buttons button {
  position: relative;
  border: none;
  background-color: rgba(0, 123, 255, 1);
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.1rem;
  padding: 7px 13px;
  box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  overflow: hidden;
}

.task-container .task-template-buttons button:hover {
  background-color: hsl(219.38, 100%, 70%);
}

.task-container .task-template-buttons button.active {
  background-color: white;
  color: var(--color-blue);
}

.task-container .task-template-buttons button.active:hover {
  background-color: rgba(0, 123, 255, 0.4);
  color: white;
}

.task-container .task-template-buttons button.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background-color: var(--color-blue);
}

.task-container .task-template-buttons button.active::before {
  background-color: var(--color-blue);
}

/* TASK CONTAINER BUTTON NOT-DONE */
.task-container .task-template-buttons button.not-done {
  background-color: var(--color-yellow);
}

.task-container .task-template-buttons button.active.not-done {
  background-color: white;
  color: var(--color-yellow);
}

.task-container .task-template-buttons button.not-done:hover {
  background-color: hsl(45.8, 90.91%, 70%);
}

.task-container .task-template-buttons button.active.not-done::before {
  background-color: var(--color-yellow);
}

.task-container-header {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
}

.task-container-header span {
  font-size: 1.5rem;
  font-weight: bold;
}

/* TABLE CARD */
.task-card {
  position: relative;
  display: grid;
  grid-template-areas: "name service action";
  grid-template-columns: 2.5fr 4fr 1fr;
  gap: 5px;
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  overflow: hidden;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  transition: transform 300ms ease-out;
}

.task-card:hover {
  transform: scale(1.01);
}

.task-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: var(--color-blue);
}

.task-card.not-done::before {
  background-color: var(--color-yellow);
}

.task-card.not-done {
  background-color: rgba(255, 187, 51, 0.1);
}

.task-name {
  grid-area: name;
}

.task-service {
  grid-area: service;
}

.task-action {
  grid-area: action;
}

.task-card .task-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.task-card .task-details.button-end {
  justify-content: end;
}

.task-card .task-details p {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
  white-space: nowrap;
}

.task-card .task-details small {
  width: fit-content;
  color: white;
  font-size: 1rem;
  padding: 3px 5px;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.task-card .task-details small.service {
  background-color: var(--color-violet);
}

.task-card small.walkIn {
  background-color: var(--color-blue);
  font-size: 0.7rem;
}

.task-card.not-done small.walkIn {
  background-color: var(--color-yellow);
}

.task-card .task-details button {
  border: none;
  font-size: 1rem;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.task-card .task-details button.edit {
  background-color: var(--color-lightblue);
}

.task-card .task-details button.edit:hover {
  background-color: hsl(195.86, 63.53%, 61.57%);
}

.task-card .task-details button.edit:active {
  transform: scale(0.95);
}

.task-card .task-details button.print {
  background-color: var(--color-yellow);
}

.task-card .task-details button.print:hover {
  background-color: hsl(45.8, 90.91%, 70%);
}

.task-card .task-details button.print:active {
  transform: scale(0.95);
}

.task-card .task-details button.list {
  background-color: var(--color-blue);
}

.task-card .task-details button.list:hover {
  background-color: hsl(219.38, 100%, 70%);
}

.task-card .task-details button.list:active {
  transform: scale(0.95);
}

.task-card .task-details button.view {
  background-color: var(--color-view);
}

.task-card .task-details button.view:hover {
  background-color: hsl(34, 37%, 69%);
}

.task-card .task-details button.view:active {
  transform: scale(0.95);
}
