@media print {
  @page {
    margin: 0px !important;
    width: 4.7in;
    height: 2in;
    padding: 0px !important;
  }

  html,
  body,
  .barcode-container {
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .barcode-container {
    page-break-after: always; /* One barcode per page */
  }

  .barcode-container:last-child {
    page-break-after: avoid;
  }

  .result-barcode {
    height: 100%;
    margin-top: 4rem;
    width: 100%;

    /* width: 30rem; */
  }
}
