@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .thermal-print {
    margin: 0 !important;
    padding: 0 !important;
  }

  .barcode-container {
    padding: 0;
  }
  .result-barcode {
    width: 100% !important;
    padding: 0;
    background-color: red;
    height: 20rem !important;
    display: block;
  }
}
