.homePage-description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.homePage-description-title {
  font-size: 2.3rem;
  font-weight: 500;
}

.homePage-description-semi-title {
  font-size: 2rem;
  font-weight: 500;
  margin-top: -15px;
  color: #00796b;
}

.homePage-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.homePage-description-description {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.homePage-description span {
  font-size: 1.9rem;
  font-weight: 500;
  color: #00796b;
}

.homePage-description p {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}

/* responsive design */

@media (max-width: 1600px) {
  .homePage-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .homePage-description-section {
    width: 100%;
  }

  .homePage-description-title {
    font-size: 1rem;
  }
  .homePage-description-semi-title {
    font-size: 1rem;
    margin-top: -10px;
  }
  .homePage-description {
    display: none;
  }
  .homePage-description-image {
    width: 100%;
  }
}
