.subscriber-slide-container {
  position: relative;
  width: 1300px;
  background-color: green;
}

.subscriber-slide-style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  padding: 0 10px;
  gap: 30px;
}

.subscriber-text-container-style {
  flex: 1;
  padding: "20px";
  text-align: "left";
}

.subscriber-text-container-style h1 {
  text-align: left;
  font-weight: 500;
}

.subscriber-text-container-style h5 {
  text-align: left;
  font-weight: 400;
  font-style: italic;
}

.subscriber-text-container-style p {
  text-align: left;
  margin-top: 40px;
  font-size: 1.1rem;
  font-weight: 300;
}

.subscriber-image-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subscriber-image-container-style {
  flex: 1;
}

.subscriber-image-container-style img {
  border-radius: 10px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* flip container */
.subscriber-flip-container {
  width: 100%;
  height: 450px;
  perspective: 1000px;
}

.subscriber-flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.subscriber-flip-card-front,
.subscriber-flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscriber-flip-card-front {
  background-color: transparent;
}

.subscriber-flip-card-back {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg);
  text-align: left;
  padding: 20px 40px;
}

.subscriber-flip-btn {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 20%);
  background-color: transparent;
  border: none;
}

.subscriber-flip-container.subscriber-flipped .subscriber-flip-card {
  transform: rotateY(180deg);
}

.subscriber-flip-card-back h2 {
  margin-left: 50px;
}

.subscriber-flip-card-back form {
  width: 100%;
}

.subscriber-register-img {
  display: block !important;
  width: 350px;
}

.subscriber-slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 1280px) {
  .subscriber-register-img {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .subscriber-slide-content {
    flex-direction: column-reverse;
  }

  .subscriber-image-style {
    width: 100px;
  }

  .subscriber-text-container-style h1,
  .subscriber-text-container-style h5,
  .subscriber-text-container-style p {
    text-align: left !important;
  }

  .subscriber-text-container-style h1 {
    font-size: 1.5rem;
  }

  .subscriber-text-container-style h5 {
    font-size: 1.2rem;
  }

  .subscriber-text-container-style p {
    display: none;
  }
}

/* General responsive adjustments for registration form */
@media (max-width: 768px) {
  .subscriber-flip-card-back {
    min-width: 480px;
    padding: 10px 20px;
    height: 100%;
  }

  .subscriber-flip-card-back form {
    width: 100%;
  }

  .subscriber-flip-card-back h2 {
    margin-left: 0;
    text-align: center;
  }

  .subscriber-flip-card {
    height: auto;
  }
}
