@media print {
  .laboratory-container {
    background: white;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .laboratory-banner img {
    height: 100px;
  }
  .laboratory-banner {
    padding: 14px;
    border-bottom: 1px solid #ccc;
  }
  .laboratory-remarks {
    position: fixed;
    bottom: 17.8rem;
    left: 0;
    right: 0;
    margin: 0 1.5cm;
    height: 1cm;
    border-bottom: 1px solid black;
    z-index: 1000;
  }

  .laboratory-body {
    margin-top: 10px;
    padding: 15px;
  }
  .laboratory-footer {
    position: fixed;
    bottom: 4rem;
    left: 0;
    right: 0;
    height: 6cm;
    background-color: white;
    border-top: 1px solid #ccc;
    z-index: 999;
  }

  @page {
    size: legal;
    margin-top: 0;
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-right: 0;
  }
  img {
    max-width: 100%;
  }

  .position-relative {
    page-break-inside: avoid;
  }
}
