#company-loading-1 {
  height: 7rem !important;
}
#company-loading-2 {
  height: 1.3rem !important;
  margin-top: 1rem;
  width: 17rem;
}

#company-loading-3 {
  height: 1.3rem !important;
  margin-top: 1rem;
  width: 8rem;
}
