.homePage-affiliates {
  position: relative;
  min-height: 180px;
  padding: 20px 0;
}

.subscriber-bg-img {
  position: absolute;
  inset: 0;
  background-image: url(./../../../assets/subscriber/hospitalImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

.subscriber-bg-mask {
  position: absolute;
  inset: 0;
  background-color: #00796b;
  opacity: 0.7;
  z-index: 0;
}

.affiliates-section {
  margin-bottom: 40px;
}

.affiliates-title {
  position: relative;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
  z-index: 10;
}

.affiliates-swiper {
  padding: 10px 0;
}

.affiliates-logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.affiliates-logo {
  width: 200px;
  height: 200px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.affiliates-logo:hover {
  transform: scale(1.1);
}

.affiliates-logo-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.affiliates-logo-address {
  font-size: 1.1rem;
  line-height: 1rem;

  font-weight: 500;
  color: white;
  text-transform: capitalize;
}

.affiliates-logo-category {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

@media (max-width: 480px) {
  .affiliates-title {
    font-size: 1.25rem;
  }

  .affiliates-logo {
    width: 70px;
    height: 70px;
  }
  .affiliates-logo-name {
    font-size: 0.95rem;
  }
  .affiliates-logo-address {
    font-size: 0.65rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
  }
  .affiliates-logo-category {
    font-size: 0.65rem;
  }
}
